h1{
	font-family: 'Staatliches', cursive;
}

.input{
	background-color:#C0C0C0;
	color:white;
}	


	

.label{
	color:#CD5C5C;
	font-family: 'Staatliches', cursive;
font-family: 'Suez One', serif;
}
body{
	background-color: #f6f6f6;
}

